<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anime Blog </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <div class="container is-max-widescreen">
            <div class="nav-search">
                <div class="nav-links">
                    <header>
                        <a href="/">
                            <h1></h1>Anime blog </h1>
                        </a>
                    </header>
                    <a class="navLinks" href="/profile">Profile</a>
                    {{#if logged_in}}
                    <a class="navLinks" id="logout">Logout</a>
                    {{else}}
                    <a class="navLinks" href="/login">Login</a>
                    {{/if}}
                </div>
                <input id="search-input" class="input" type="text" placeholder="search of Anime">
                <button id="search-btn" class="button">Search</button>
            </div>
        </div>
    </nav>


    <main>

        {{{ body }}}

    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="./js/search.js"></script>
</body>


</html>
