<div class="tile is-child box has-background-grey-light columns">
  <div class="column">
    <div class="is-4">
      <p id="aTitle"></p>
      <p id="synopsis"></p>
      <p id="episodes"></p>
      <p id="malScore"></p>
      <a id="malUrl" href="" target="_blank"></a>
    </div>
  </div>
  <img class="anime picture is-2by3 column" id="aPoster" src="">
 </div>
<div class="tile">
    <!-- The magical tile element! -->
    <div class="tile is-parent">
        <article class="tile is-child notification is-info">
            <p class="title">Trending!</p>
        </article>
    </div>
</div>

 <!--  anime images will be display here in icons  -->
 <div class="Img">
<figure  class="image is-128x128">
  <a id="0" class="One" href="https:\/\/myanimelist.net\/anime\/16498\/Shingeki_no_Kyojin" target="Shingeki no Kyojin"></a>
  <img id="0i" class="is-rounded"  src="https:\/\/cdn.myanimelist.net\/images\/anime\/10\/47347.jpg?s=29949c6e892df123f0b0563e836d3d98">
</figure>
<figure class="image is-128x128">
    <a id="1" class="One" href="https:\/\/myanimelist.net\/anime\/1535\/Death_Note" target="Death Note"></a>
  <img id="1i" class="is-rounded" src="https:\/\/cdn.myanimelist.net\/images\/anime\/9\/9453.jpg?s=b89e80691ac5cc0610847ccbe0b8424a">
</figure>
<figure class="image is-128x128">
    <a id="2" class="One" href="https:\/\/myanimelist.net\/anime\/5114\/Fullmetal_Alchemist__Brotherhood" target="Fullmetal Alchemist: Brotherhood"></a>
  <img id="2i" class="is-rounded" src="https:\/\/cdn.myanimelist.net\/images\/anime\/1223\/96541.jpg?s=faffcb677a5eacd17bf761edd78bfb3f">
</figure>
<figure class="image is-128x128">
    <a id="3" class="One" href="https:\/\/myanimelist.net\/anime\/30276\/One_Punch_Man" target="One Punch Man"></a>
  <img id="3i" class="is-rounded" src="https:\/\/cdn.myanimelist.net\/images\/anime\/12\/76049.jpg?s=40b6c7dbbbb94c44675116d301150078">
</figure>
<figure class="image is-128x128">
    <a id="4" class="One" href="https:\/\/myanimelist.net\/anime\/11757\/Sword_Art_Online" target="Sword Art Online"></a>
  <img id="4i" class="is-rounded" src="https:\/\/cdn.myanimelist.net\/images\/anime\/11\/39717.jpg?s=5908e8051487fb8468d5fca779f8f00d">
</figure>
</div>
