<div class="tile">
    <!-- The magical tile element! -->
    <div class="tile is-parent">
        <article class="tile is-child notification is-info">
            <p class="title">Trending!</p>
        </article>
    </div>
</div>

 <div class="tile is-child box has-background-grey-light columns">
  <div class="column">
    <div class="is-4">
      <p id="aTitle"></p>
      <p id="synopsis"></p>
      <p id="episodes"></p>
      <p id="malScore"></p>
      <a id="malUrl" href="" target="_blank"></a>
    </div>
  </div>
  <img class="anime picture is-2by3 column" id="aPoster" src="">
 </div>

 <!--  anime images will be display here in icons  -->
 <div class="Img">
<figure  class="image is-128x128">
  <div id="0" class="One"></div>
  <img id="0i" class="is-rounded"  src="">
</figure>
<figure class="image is-128x128">
    <div id="1" class="One"></div>
  <img id="1i" class="is-rounded" src="">
</figure>
<figure class="image is-128x128">
    <div id="2" class="One"></div>
  <img id="2i" class="is-rounded" src="">
</figure>
<figure class="image is-128x128">
    <div id="3" class="One"></div>
  <img id="3i" class="is-rounded" src="">
</figure>
<figure class="image is-128x128">
    <div id="4" class="One"></div>
  <img id="4i" class="is-rounded" src="">
</figure>
</div>

<script src="./js/search.js"></script>