<form class="container">
    <div class="column has-text-centered is-primary">
        <textarea class="textarea" placeholder="Write your review!"></textarea>
        <div class="block">
            Review
        </div>
    </div>
  </form>