<form id="signup-form" class="box">
    
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input id="name-signup" class="input" type="text" placeholder="e.g. alex1234">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input id="email-signup" class="input" type="email" placeholder="e.g. alex@example.com">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input id="password-signup" class="input" type="password" placeholder="********">
    </div>
  </div>

  <button class="button is-primary">Sign up</button>
  
</form>

<script src="/js/signup.js"></script>